//reset
body {
  background: rgba(0,0,0,.2);
}
figure, ul, p, header {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
::-webkit-input-placeholder {
  color: #a9a9a9;
}
::-webkit-scrollbar {
  display: none;
}
//
$height: 48px;
@mixin border ($direction: bottom) {
  border-#{$direction}: 1px solid #d9d9d9;
}
#app {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 600px;
  background: #fff;
  transform: translate(-50%, -50%);
}
.app__title {
  padding-left: 20px;
  height: $height;
  font-size: 14px;
  font-weight: bold;
  line-height: $height;
  @include border();
}
.app__content {
  display: flex;
  @include border();
}
.app__body {
  overflow: hidden;
  flex: 1;
}
.app__footer {
  padding: 0 10px;
  height: $height;
}
.app__footer-btn {
  float: right;
  border: 0;
  height: 100%;
  font-size: 14px;
  color: #b0cfef;
  background: transparent;
}
.body__header {
  height: $height;
  line-height: $height;
  @include border()
}
.department__header {
  overflow: hidden;
  display: flex;
  @include border(right);
  .icon-search {
    color: #888;
  }
}
.search__wrapper{
  flex: 1;
  overflow: hidden;
  height: 100%;
  input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
  }
}
.employee__header {
  padding-left: 20px;
  font-size: 13px;
}
.body__content {
  overflow: hidden;
  box-sizing: border-box;
  padding: 28px 23px 24px 20px;
  height: 350px;
}
.department__content {
  @include border(right);
}